@font-face {
    font-family: 'ComicSans';
    src: url(media/comic.ttf);
}
body {
    margin: 0%;
    background-image: url(media/png/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 93.9vh;
    width: 100%;
}
h1 {
    font-size: 36pt;
    font-family: sans-serif;
}
h2 {
    font-family: sans-serif;
    font-size: 24pt;
}
.header {
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
    flex-direction: column;
}
.header_logo {
    max-height: 50vh;
    margin: 5%;
    max-width: 90%;
    margin-top: 0;
    margin-bottom: 0;
}

.link-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.link-wrapper a {
    text-align: center;
    font-size: 20pt;
    width: 33%;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 0 25px;
    text-decoration: none;
    font-family: 'ComicSans';
}
.link-wrapper a .nav-link{
    color: white;
    transition: 0.5s;
}
.link-wrapper a .nav-link:hover {
    letter-spacing: 2px;
}
.main {
     font-family: sans-serif;
     display: flex;
     flex-direction: column;
     text-align: center;
     margin-bottom: 5%;
}
.video {
    margin: auto;
    max-width: 90%;
    margin-bottom: 5%;
    max-height: 90vh;
}
a {
    color: white;
    text-decoration: none;
    font-family: 'ComicSans';
    transition: 0.5s;
}
a:hover {
    color: #F3A523;
}
b {
    font-weight: 900;
}
.contact {
    padding: 5%;
}
.location {
    margin: auto;
    margin-bottom: 5%;
}
ul {
    color: white;
    text-align: left;
}
.airlines h2 {
    align-items: center;
    display: flex;
    flex-direction: column;
}
